{%- comment -%}Version 0.2.0{%- endcomment -%}
{%- if request.locale.primary == true -%}

  {%- assign strings = content | strip_newlines | split: '<ly-' -%}
  {%- for each_string in strings -%}
    {%- if each_string contains '</ly' -%}
      {%- assign ly_string = each_string | split: '</ly' | first -%}
      {%- assign ly_tag = ly_string | split: '>' | first -%}
	  {%- assign ly_open_tag = '<ly-' | append: ly_tag | append: '>' -%}
	  {%- assign ly_close_tag = '</ly-' | append: ly_tag | append: '>' -%}
	  {%- assign delim = ly_tag | append: '>' -%}
	  {%- assign ly_content = ly_string | split: delim | last -%}
	  {%- assign src = ly_open_tag | append: ly_content | append: ly_close_tag -%}
	  {%- assign content = content | replace: src, ly_content -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign strings = content | strip_newlines | split: '&lt;ly-' -%}
  {%- for each_string in strings -%}
	{%- if each_string contains '&lt;/ly' -%}
	  {%- assign ly_string = each_string | split: '&lt;/ly' | first -%}
	  {%- assign ly_tag = ly_string | split: '&gt;' | first -%}
	  {%- assign ly_open_tag = '&lt;ly-' | append: ly_tag | append: '&gt;' -%}
	  {%- assign ly_close_tag = '&lt;/ly-' | append: ly_tag | append: '&gt;' -%}
	  {%- assign delim = ly_tag | append: '&gt;' -%}
	  {%- assign ly_content = ly_string | split: delim | last -%}
	  {%- assign src = ly_open_tag | append: ly_content | append: ly_close_tag -%}
	  {%- assign content = content | replace: src, ly_content -%}
    {%- endif -%}
  {%- endfor -%}

  {{- content -}}
{%- else -%}
  {%- assign current_language_num = 0 -%}
  {%- for language in shop.metafields.language_codes -%}
    {%- if language.last == request.locale.iso_code  -%}
      {%- assign language_id_num = language.first | replace: "ly", "" | plus: 0 %}
      {%- if current_language_num < language_id_num  -%}
        {%- assign current_language = language.first -%}
        {%- assign current_language_num = language_id_num -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign language = current_language -%}

  {%- assign strings = content | strip_newlines | split: '<ly-' -%}
  {%- for each_string in strings -%}
    {%- if each_string contains '</ly' -%}
      {%- assign ly_string = each_string | split: '</ly' | first -%}
      {%- assign ly_tag = ly_string | split: '>' | first -%}
	  {%- assign ly_open_tag = '<ly-' | append: ly_tag | append: '>' -%}
	  {%- assign ly_close_tag = '</ly-' | append: ly_tag | append: '>' -%}
	  {%- assign ly_complete_tag = ly_open_tag | append: ly_close_tag -%}
	  {%- assign delim = ly_tag | append: '>' -%}
	  {%- assign ly_content = ly_string | split: delim | last -%}
	  {%- assign tag_parts = ly_tag | split: '-' -%}
 	  {%- assign type = tag_parts | first -%}
	  {%- assign id = tag_parts | last -%}
	  {%- assign src = ly_open_tag | append: ly_content | append: ly_close_tag -%}
	  {%- assign used_translation = nil -%}
	  {%- assign namespace = language | append: 'as' -%}
	  {%- assign key = 'tid' | append: theme.id -%}
	  {%- if shop.metafields[namespace][key] -%}
	    {%- assign data = shop.metafields[namespace][key] -%}
		{%- assign splitter = '[ly' | append: id | append: ']' -%}
		{%- if data contains splitter -%}
		  {%- assign used_translation =  data | split: splitter | last | split: '[ly]' | first -%}
		{%- endif -%}
	  {%- endif -%}
	  {%- if used_translation -%}
		{%- assign content = content | replace: src, used_translation -%}
	  {%- else -%}
		{%- assign namespace = language | append: type -%}
		{%- assign key = 'id' | append: id -%}
		{%- if shop.metafields[namespace][key] -%}
		  {%- assign content = content | replace: src, shop.metafields[namespace][key] -%}
		{%- else -%}
		  {%- assign content = content | replace: src, ly_content -%}
		{%- endif -%}
	  {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign strings = content | strip_newlines | split: '&lt;ly-' -%}
  {%- for each_string in strings -%}
	{%- if each_string contains '&lt;/ly' -%}
	  {%- assign ly_string = each_string | split: '&lt;/ly' | first -%}
	  {%- assign ly_tag = ly_string | split: '&gt;' | first -%}
	  {%- assign ly_open_tag = '&lt;ly-' | append: ly_tag | append: '&gt;' -%}
	  {%- assign ly_close_tag = '&lt;/ly-' | append: ly_tag | append: '&gt;' -%}
	  {%- assign ly_complete_tag = ly_open_tag | append: ly_close_tag -%}
	  {%- assign delim = ly_tag | append: '&gt;' -%}
	  {%- assign ly_content = ly_string | split: delim | last -%}
	  {%- assign tag_parts = ly_tag | split: '-' -%}
	  {%- assign type = tag_parts | first -%}
	  {%- assign id = tag_parts | last -%}
	  {%- assign src = ly_open_tag | append: ly_content | append: ly_close_tag -%}
	  {%- assign used_translation = nil -%}
	  {%- assign namespace = language | append: 'as' -%}
	  {%- assign key = 'tid' | append: theme.id -%}
	  {%- if shop.metafields[namespace][key] -%}
	    {%- assign data = shop.metafields[namespace][key] -%}
		{%- assign splitter = '[ly' | append: id | append: ']' -%}
		{%- if data contains splitter -%}
		  {%- assign used_translation =  data | split: splitter | last | split: '[ly]' | first -%}
		{%- endif -%}
	  {%- endif -%}
	  {%- if used_translation -%}
		{%- assign content = content | replace: src, used_translation -%}
  	  {%- else -%}
		{%- assign namespace = language | append: type -%}
		{%- assign key = 'id' | append: id -%}
		{%- if shop.metafields[namespace][key] -%}
		  {%- assign content = content | replace: src, shop.metafields[namespace][key] -%}
		{%- else -%}
		  {%- assign content = content | replace: src, ly_content -%}
		{%- endif -%}
	  {%- endif -%}
	{%- endif -%}
  {%- endfor -%}

  {%- assign content = content | replace: '#ly_cu', '' -%}

  {{- content -}}
{%- endif -%}